<main>
    <section>
        <div class="tile">
            <p>Trang Chủ |<span> Bóng Đá</span></p> <br>
            <h2>Lịch thi đấu bóng đá cúp C1 - Champions League 2021/2022 <br> loạt thứ 6 vòng bảng</h2> <br>
            <p>Sự kiện: <span>Cup C1 - Champions League 2021/22 Lịch thi đấu bóng đá</span></p> <br>
            <h4>Trân trọng gửi tới độc giả lịch thi đấu CÚP C1 - CHAMPIONS LEAGUE 2021/22.
                <br>
            </h4> <br>
            <div class="schedule">
                <br>
                Lịch trình UEFA Champions League 2021/2022 <br>
                <br>
                - Vòng sơ loại 1: 7-8/7 tới 14-15/7 <br>
                <br>
                - Vòng sơ loại 2: 21-22/7 tới 28-29/7 <br>
                <br>
                - Vòng sơ loại 3: 4-5/8 tới 11/8 <br>
                <br>
                - Vòng play-off: 18-19/8 tới 25-26/8 <br>
                <br>
                - Vòng bảng: 15-16/9 tới 8-9/12 <br>
                <br>
                - Vòng 1/8: 16-17 và 23-24/2 tới 9-10 và 16-17/3/2022 <br>
                <br>
                - Vòng tứ kết: 6-7/4/2022 tới 13-14/4/2022 <br>
                <br>
                - Vòng bán kết: 27-28/4/2022 tới 4-5/5/2022 <br>
                <br>
                - Chung kết: 29/5/2022 trên sân Krestovsky Stadium, Saint Petersburg (Nga). <br> <br>
            </div>
            <h2>LỊCH THI ĐẤU CUP C1</h2> <br>
            <hr>
        </div>
    </section>
    <section class="calendar">
        <div id="menu2">
            <ul>
                <li><a href="index.php?act=nha"> <img src="./img/iconpre.png" alt=""> &ensp; Lịch Premier League</a>
                </li> <br>
                <li><a href="index.php?act=c1"> <img src="./img/iconc1.png" alt=""> &ensp; Lịch Cúp C1</a></li> <br>
               
                <li><a href="index.php?act=manci"><img src="./img/mancity.png" alt=""> &ensp; Lịch Thi đấu Mancity</a></li>
            </ul>
        </div>
        <div class="contents">
            <h2>LỊCH THI ĐẤU VÒNG 16</h2> <br>
            <input type="box" value="Thứ 7, ngày 11/12/2021">
            <div class="contentss">
                <div class="contentt">
                    <h4>00:30 11/12</h4>
                    <p>Đang Cập Nhật</p>
                </div>
                <div class="contenttt" style="margin-left: 78px;">
                    <div class="detail_content">
                        <p style="padding-right: 10px;">Atalanta</p> <img src="./img/alanta.png" alt="">
                        <input type="box" value="- | -">
                        <img src="./img/vill.png" alt="">
                        <p style="padding-left: 10px;">Villarreal </p>
                    </div>
                    <div class="detail_tittle">
                        <span style="padding-left: 112px;">Bình Luận</span>
                    </div>
                </div>
            </div>
            <br>
            <hr>
            <div class="contentss">
                <div class="contentt">
                    <h4>00:30 11/12</h4>
                    <p>Đang Cập Nhật</p>
                </div>
                <div class="contenttt" style="padding-left: 43px;">
                    <div class="detail_content">
                        <p style="padding-right: 10px;">Wolfsburg</p> <img src="./img/wolf.png" alt="">
                        <input type="box" value="- | -">
                        <img src="./img/lille.png" alt="">
                        <p style="padding-left: 10px;">Lille </p>
                    </div>
                    <div class="detail_tittle">
                        <span style="padding-left: 125px">Bình Luận</span>
                    </div>
                </div>
            </div>
            <br>
            <hr>
            <div class="contentss">
                <div class="contentt">
                    <h4>03:00 11/12</h4>
                    <p>Đang Cập Nhật</p>
                </div>
                <div class="contenttt" style="padding-left: 63px;">
                    <div class="detail_content">
                        <p style="padding-right: 10px;">Benfica</p> <img src="./img/benfica.png" alt="">
                        <input type="box" value="- | -">
                        <img src="./img/dy.png" alt="">
                        <p style="padding-left: 10px;">Dynamo </p>
                    </div>
                    <div class="detail_tittle">
                        <span style="padding-left: 107px;">Bình Luận</span>
                    </div>
                </div>
            </div>
            <br>
            <hr>
            <div class="contentss"> 
                <div class="contentt">
                    <h4>03:00 11/12</h4>
                    <p>Đang Cập Nhật</p>
                </div>
                <div class="contenttt" style="padding-left: 56px">
                    <div class="detail_content">
                        <p style="padding-right: 10px;">Salzburg</p> <img src="./img/sal.png" alt="">
                        <input type="box" value="- | -">
                        <img src="./img/sevi.png" alt="">
                        <p style="padding-left: 10px;">Sevilla</p>
                    </div>
                    <div class="detail_tittle">
                        <span style="padding-left: 115px;">Bình Luận</span>
                    </div>
                </div>
            </div>
            <br>
            <hr>
            <div class="contentss">
                <div class="contentt" >
                    <h4>03:00 11/12</h4>
                    <p>Đang Cập Nhật</p>
                </div>
                <div class="contenttt" >
                    <div class="detail_content">
                        <p style="padding-right: 10px;">Bayern München</p> <img src="./img/bay.png" alt="">
                        <input type="box" value="- | -">
                        <img src="./img/bar.png" alt="">
                        <p style="padding-left: 10px;">Barcelona </p>
                    </div>
                    <div class="detail_tittle">
                        <span style="padding-left: 170px;">Bình Luận</span>
                    </div>
                </div>
            </div>
        </div>

    </section>
</main>