<main>
    <section>
        <div class="tile">
            <p>Trang Chủ |<span> Bóng Đá</span></p> <br>
            <h2>Lịch thi đấu bóng đá Ngoại Hạng Anh 2021/2022 mới nhất <br> vòng 17</h2> <br>
            <p>Sự kiện: <span>Premier League 2021-22 Lịch thi đấu bóng đá</span></p> <br>
            <h4>(Lịch thi đấu bóng đá) Trân trọng giới thiệu tới độc giả lịch thi đấu Ngoại Hạng Anh mùa 2021/2022.
                <br>
            </h4> <br>
            <h2>LỊCH THI ĐẤU PREMIER LEAGUE</h2> <br>
            <hr>
        </div>
    </section>
    <section class="calendar">
        <div id="menu2">
            <ul>
                <li><a href="index.php?act=nha"> <img src="./img/iconpre.png" alt=""> &ensp; Lịch Premier League</a>
                </li> <br>
                <li><a href="index.php?act=c1"> <img src="./img/iconc1.png" alt=""> &ensp; Lịch Cúp C1</a></li> <br>
                <li><a href="index.php?act=manci"><img src="./img/mancity.png" alt=""> &ensp; Lịch Thi đấu Mancity</a>
                </li>
            </ul>
        </div>
        <div class="contents">
            <h2>LỊCH THI ĐẤU VÒNG 16</h2> <br>
            <input type="box" value="Thứ 7, ngày 11/12/2021">
            <div class="contentss">
                <div class="contentt">
                    <h4>19:30 11/12</h4>
                    <p>Đang Cập Nhật</p>
                </div>
                <div class="contenttt" style="margin-left: 68px;">
                    <div class="detail_content">
                        <p style="padding-right: 10px;">Brentford</p> <img src="./img/brenfof.png" alt="">
                        <input type="box" value="- | -">
                        <img src="./img/wasfor.png" alt="">
                        <p style="padding-left: 10px;">Wasford </p>
                    </div>
                    <div class="detail_tittle">
                        <span>Bình Luận</span>
                    </div>
                </div>
            </div>
            <br>
            <hr>
            <div class="contentss">
                <div class="contentt">
                    <h4>22:00 11/12</h4>
                    <p>Đang Cập Nhật</p>
                </div>
                <div class="contenttt">
                    <div class="detail_content">
                        <p style="padding-right: 10px;">Manchester City</p> <img src="./img/mancity.png" alt="">
                        <input type="box" value="- | -">
                        <img src="./img/hamton.png" alt="">
                        <p style="padding-left: 10px;">Wolverhampton </p>
                    </div>
                    <div class="detail_tittle">
                        <span style="padding-left: 167px">Bình Luận</span>
                    </div>
                </div>
            </div>
            <br>
            <hr>
            <div class="contentss">
                <div class="contentt">
                    <h4>22:00 11/12</h4>
                    <p>Đang Cập Nhật</p>
                </div>
                <div class="contenttt" style="padding-left: 63px;">
                    <div class="detail_content">
                        <p style="padding-right: 10px;">Arsenal</p> <img src="./img/ars.png" alt="">
                        <input type="box" value="- | -">
                        <img src="./img/southamton.png" alt="">
                        <p style="padding-left: 10px;">Southampton </p>
                    </div>
                    <div class="detail_tittle">
                        <span style="padding-left: 107px;">Bình Luận</span>
                    </div>
                </div>
            </div>
            <br>
            <hr>
            <div class="contentss"> 
                <div class="contentt">
                    <h4>22:00 11/12</h4>
                    <p>Đang Cập Nhật</p>
                </div>
                <div class="contenttt" style="padding-left: 64px">
                    <div class="detail_content">
                        <p style="padding-right: 10px;">Chelsea</p> <img src="./img/chease.png" alt="">
                        <input type="box" value="- | -">
                        <img src="./img/leed.png" alt="">
                        <p style="padding-left: 10px;">Leeds United</p>
                    </div>
                    <div class="detail_tittle">
                        <span style="padding-left: 111px;">Bình Luận</span>
                    </div>
                </div>
            </div>
            <br>
            <hr>
            <div class="contentss">
                <div class="contentt" >
                    <h4>00:30 11/12</h4>
                    <p>Đang Cập Nhật</p>
                </div>
                <div class="contenttt" style="padding-left: 60px">
                    <div class="detail_content">
                        <p style="padding-right: 10px;">Liverpool</p> <img src="./img/liver.png" alt="">
                        <input type="box" value="- | -">
                        <img src="./img/aston.png" alt="">
                        <p style="padding-left: 10px;">Aston Villa </p>
                    </div>
                    <div class="detail_tittle">
                        <span>Bình Luận</span>
                    </div>
                </div>
            </div>
        </div>

    </section>
</main>